a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background: #302C42;
  font-family: "Montserrat";
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.525);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

::-moz-selection {
  background-color: gray;
  color: white;
}

::selection {
  background-color: gray;
  color: white;
}

.container {
  max-width: 1280px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.header {
  padding-top: 25px;
  padding-bottom: 48px;
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 50px;
    padding-bottom: 98px;
  }
}
.header__box {
  display: flex;
  align-items: baseline;
}
@media screen and (min-width: 1280px) {
  .header__box {
    align-items: center;
  }
}
.header__logoss {
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__nav {
    display: block;
  }
}
.header__navig {
  display: flex;
  align-items: center;
  gap: 42px;
  margin-left: 205px;
}
.header__links {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__links:hover, .header__links:focus {
  color: #8176AF;
}
.header__boxing {
  display: none;
  align-items: center;
  gap: 38px;
  margin-left: auto;
}
@media screen and (min-width: 1280px) {
  .header__boxing {
    display: flex;
  }
}
.header__butons {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 18px 35px;
  border-radius: 40px;
  border: 2px solid #FFF;
  background-color: transparent;
  transition: transform 0.4s ease;
}
.header__butons:hover, .header__butons:focus {
  transform: scale(1.1);
}
.header__but {
  color: #343045;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  padding: 18px 35px;
  line-height: normal;
  border-radius: 40px;
  transition: transform 0.4s ease;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}
.header__but:hover, .header__but:focus {
  transform: scale(1.1);
}
.header__link {
  margin-left: 11px;
  transition: transform 0.4s ease;
}
.header__link:hover, .header__link:focus {
  transform: scale(1.1);
}
.header__button {
  border: none;
  background-color: transparent;
  margin-left: auto;
  display: block;
}
@media screen and (min-width: 1280px) {
  .header__button {
    display: none;
  }
}

.header__button {
  border: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__menu {
  width: 40px;
  height: 60px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  opacity: 1;
  z-index: 2;
  background-color: #302C42;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header__logobur {
  rotate: 45deg;
  width: 50px;
  height: 50px;
}

.menu__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__close {
  width: 40px;
  height: 40px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.menu__link {
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1.17;
}

.ssw {
  position: absolute;
  bottom: 50px;
}

.menu__list-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: linear-gradient(92deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 64px;
}

.menu__link-contact {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.08;
  letter-spacing: 0.48px;
}

.menu__item-contact:first-child > .menu__link-contact {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.68px;
}

.menu__item-contact:last-child > .menu__link-contact {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.menu__list-social {
  display: flex;
}

.menu__link-social {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}

.menu__item-social:not(:last-child) {
  margin-right: 10px;
  display: flex;
}

.menu__item-social:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  margin-left: 10px;
}

.header__buto {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 13px 20px;
  border-radius: 40px;
  border: 2px solid #FFF;
  background-color: transparent;
  transition: transform 0.4s ease;
}
.header__buto:hover, .header__buto:focus {
  transform: scale(1.1);
}

.header__bur {
  color: #343045;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  padding: 13px 20px;
  line-height: normal;
  border-radius: 40px;
  transition: transform 0.4s ease;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}
.header__bur:hover, .header__bur:focus {
  transform: scale(1.1);
}

.head {
  padding-top: 375px;
  background-image: url(../img/maskgroup.png);
  background-position: center 40px;
  background-repeat: no-repeat;
  background-size: 318px 277px;
}
@media screen and (min-width: 1280px) {
  .head {
    padding-top: 48px;
    background-image: url(../img/kgroup.png);
    background-repeat: no-repeat;
    background-size: 490px 426px;
    background-position: calc(100% - 100px) 0;
  }
}
.head__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  animation: shadowChange 4s infinite alternate;
}
@media screen and (min-width: 1280px) {
  .head__text {
    margin-left: 0;
    width: 456px;
    font-size: 40px;
  }
}
@keyframes shadowChange {
  0% {
    text-shadow: 0 0 3px #1E252B;
  }
  50% {
    text-shadow: 0 0 3px #ffffff;
  }
}
.head__span {
  background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1280px) {
  .head__span {
    font-size: 46px;
  }
}
.head__lorem {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 450px;
  margin-top: 36px;
  display: none;
  animation: pulse 2s infinite;
}
@media screen and (min-width: 1280px) {
  .head__lorem {
    display: block;
  }
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.02);
    opacity: 0.5;
  }
}
.head__list {
  display: flex;
  align-items: center;
  gap: 11px;
}
.head__button {
  color: #343045;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 18px 68px;
  margin-top: 36px;
  border-radius: 40px;
  transition: transform 0.4s ease;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}
.head__button:hover, .head__button:focus {
  transform: scale(1.05);
}
@media screen and (min-width: 1280px) {
  .head__button {
    margin-top: 66px;
  }
}
.head__listing {
  transform: translateY(32%);
  display: none;
}
@media screen and (min-width: 1280px) {
  .head__listing {
    display: block;
  }
}
.head__box {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .head__box {
    display: block;
  }
}
.head__arrow {
  border: none;
  background-color: transparent;
  width: 100px;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  flex-shrink: 0;
}
.head__arrow:hover, .head__arrow:focus {
  border: 2px solid #8176AF;
  border-radius: 10%;
}
.head__scrols {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.head__wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 53px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  border-radius: 90px;
  overflow-x: scroll;
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}
@media screen and (min-width: 1280px) {
  .head__wrap {
    margin-top: 131px;
    height: 167px;
  }
}
.head__wrap::-webkit-scrollbar {
  display: none;
}
.head__image {
  width: 49px;
  flex-shrink: 0;
}
.head__li {
  display: flex;
  align-items: center;
  border-right: none;
  min-width: 100%;
  padding: 20px;
}
@media screen and (min-width: 1280px) {
  .head__li {
    border-right: 2px solid rgba(192, 183, 232, 0.33);
    padding-left: 39px;
    padding-right: 42.5px;
    min-width: 0%;
  }
}
.head__btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
@media screen and (min-width: 1280px) {
  .head__btn {
    display: none;
  }
}
.head__bt {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
@media screen and (min-width: 1280px) {
  .head__bt {
    display: none;
  }
}
.head__b {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
@media screen and (min-width: 1280px) {
  .head__b {
    display: none;
  }
}
.head .right {
  margin-left: auto;
}
.head__wrap .head__li:nth-child(2) {
  padding: 26px;
}
@media screen and (min-width: 1280px) {
  .head__wrap .head__li:nth-child(2) {
    display: flex;
    padding-left: 47.5px;
    gap: 29px;
    padding-right: 66px;
  }
}
.head__wrap .head__li:nth-child(3) {
  border-right: 0px;
}
@media screen and (min-width: 1280px) {
  .head__wrap .head__li:nth-child(3) {
    display: flex;
    gap: 24px;
    padding-left: 50px;
  }
}
.head__texting {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 10px;
  display: none;
}
@media screen and (min-width: 1280px) {
  .head__texting {
    display: flex;
  }
}
.head__p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1280px) {
  .head__p {
    width: 290px;
  }
}
.head__ps {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
}
@media screen and (min-width: 1280px) {
  .head__ps {
    width: 290px;
    margin-left: 0px;
  }
}

.introduction {
  padding: 90px 0 111px 0;
}
@media screen and (min-width: 1280px) {
  .introduction__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.introduction__title {
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
@media screen and (min-width: 1280px) {
  .introduction__title {
    font-size: 36px;
    text-align: start;
  }
}
.introduction__sub-title {
  color: rgba(255, 255, 255, 0.9490196078);
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .introduction__sub-title {
    font-size: 36px;
    text-align: start;
  }
}
.introduction__sub-title-svg {
  display: none;
  width: 228px;
  height: 100px;
}
@media screen and (min-width: 1280px) {
  .introduction__sub-title-svg {
    display: inline-block;
    margin-right: 139px;
  }
}
.introduction__desc {
  display: none;
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1280px) {
  .introduction__desc {
    display: block;
    width: 652px;
  }
}
.introduction__img {
  max-width: 336.79px;
  height: 358px;
  border-radius: 140px 60px 140px 60px;
  margin-bottom: 51px;
}
@media screen and (min-width: 1280px) {
  .introduction__img {
    max-width: 524px;
    height: 557px;
  }
}
.introduction__sec-title {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  display: none;
  margin-bottom: 5px;
}
@media screen and (min-width: 1280px) {
  .introduction__sec-title {
    display: block;
  }
}
.introduction__sec-sub-title {
  color: rgba(255, 255, 255, 0.9490196078);
  font-size: 36px;
  font-weight: 300;
  line-height: normal;
  display: none;
  margin-bottom: 42px;
}
@media screen and (min-width: 1280px) {
  .introduction__sec-sub-title {
    display: block;
  }
}
.introduction__sec-desc {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 34px;
  max-width: 352px;
}
@media screen and (min-width: 1280px) {
  .introduction__sec-desc {
    margin-bottom: 28px;
    max-width: 630px;
    font-size: 16px;
  }
}
.introduction__link {
  display: inline-block;
  color: #343045;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  padding: 20px 63px;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.box-title {
  flex-direction: column;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .box-title {
    display: inline-block;
  }
}

@media screen and (min-width: 1280px) {
  .img-text-box {
    display: flex;
    align-items: center;
    gap: 118px;
  }
}

.byld {
  padding-bottom: 56px;
}
@media screen and (min-width: 1280px) {
  .byld {
    padding-bottom: 114px;
  }
}
.byld__vraper {
  margin-bottom: 26px;
}
@media screen and (min-width: 1280px) {
  .byld__vraper {
    display: flex;
    margin-bottom: 102px;
  }
}
@media screen and (min-width: 1280px) {
  .byld__box {
    margin-right: auto;
    position: relative;
  }
}
.byld__title {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1280px) {
  .byld__title {
    font-size: 36px;
  }
}
.byld__text {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media screen and (min-width: 1280px) {
  .byld__text {
    font-size: 36px;
  }
}
.byld__text::after {
  content: "";
  display: block;
  width: 228px;
  height: 100px;
  background-image: url(../img/strelks.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 275px;
}
.byld__deskription {
  display: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 652px;
}
@media screen and (min-width: 1280px) {
  .byld__deskription {
    display: block;
  }
}
.byld__list {
  display: flex;
}
@media screen and (min-width: 1280px) {
  .byld__list {
    gap: 11px;
  }
}
.byld__item {
  padding: 36px 37px 36px 33px;
  border-radius: 40px;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1280px) {
  .byld__item {
    padding: 32px 45px 46px 33px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.byld__item:nth-child(n+2) {
  display: none;
}
@media screen and (min-width: 1280px) {
  .byld__item:nth-child(n+2) {
    display: block;
  }
}
.byld__img {
  border-radius: 50%;
  width: 205.363px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
  border: 14px solid rgba(14, 14, 14, 0.32);
  border-radius: 50%;
}
@media screen and (min-width: 1280px) {
  .byld__img {
    width: 387px;
    margin-bottom: 14px;
  }
}
.byld__caption {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 32px;
  position: relative;
}
.byld__caption::after {
  content: "";
  display: block;
  background-color: rgba(192, 183, 232, 0.33);
  width: 154px;
  height: 1px;
  position: absolute;
  top: 45px;
  right: 36px;
}
@media screen and (max-width: 1279px) {
  .byld__caption::after {
    top: 45px;
    right: 45px;
  }
}
.byld__desk {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 250px;
  text-align: start;
}
.byld__button {
  width: 250px;
  height: 48px;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  color: #343045;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 35px;
}
@media screen and (min-width: 1280px) {
  .byld__button {
    width: 154px;
    height: 48px;
  }
}/*# sourceMappingURL=main.css.map */