.form {

    &__form {
        border-radius: 100px;
        background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 45px 22px 65px 21px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.21;
        margin-bottom: 21px;

        &:after {
            content: "";
            display: block;
            width: 414px;
            height: 1px;
            background-image: linear-gradient(to left, #343045, #C0B7E8, #8176AF, #343045);
            margin-top: 30px;
        }

        @media screen and (min-width: 1280px) {
            font-size: 36px;
            line-height: 1.22;
            margin-bottom: 30px;
        }
    }

    &__text {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.21;
        margin-bottom: 36px;

        @media screen and (min-width: 1280px) {
            font-size: 36px;
            line-height: 1.22;
            margin-bottom: 65px;
        }
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        row-gap: 39px;
        column-gap: 10px;
        justify-content: center;
    }

    &__input {
        width: 300px;
        height: 53px;
        border-radius: 40px;
        border: 2px solid #FFF;
        background-color: transparent;
        padding: 18px 25px;
        margin-bottom: 22px;
    }    

    &__input:nth-child(-n+4) {
        @media screen and (min-width: 1280px) {
            width: 524px;
            height: 72px;
        }
    }

    &__input[placeholder="Subject"] {
        width: 1058px;
        height: 72px;
        margin: 33px 0;
    }

    &__comment {
        width: 300px;
        height: 219px;
        border-radius: 40px;
        border: 2px solid #FFF;
        background-color: transparent;
        padding: 18px 29px;
        margin-bottom: 52px;
        resize: none;

        @media screen and (min-width: 1280px) {
            width: 1058px;
            height: 210px;
            padding: 27px 42px;
        }
    }

    &__button {
        border-radius: 40px;
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        padding: 15px 85px 16px 84px;
        color: #343045;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.21;

        @media screen and (min-width: 1280px) {
            padding: 16px 55px 17px 53px;
            font-size: 12px;
            line-height: 1.25;
        }
    }
}