.tehnologi {
    padding-top: 107px;
    text-align: center;
    @media screen and (min-width: 1200px) {
        padding-top: 114px;
    }

&__boxx {
    position: relative;
width: 348px;
padding-top: 50px;
padding-bottom: 50px;


background: linear-gradient(0deg, rgba(48, 44, 66, 0.4) 0%, rgba(48, 44, 66, 0.4) 100%), url(../img/tehnologi-img.jpg) lightgray 50% / cover no-repeat;
border-radius: 60px;
background-size: cover;
box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);



@media screen and (min-width:1278px) {
    width: 1278px;

    border-radius: 160px;

    padding-top: 108px;
    padding-bottom: 96px;


box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}
}

 
&__title {
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;




@media screen and (min-width:1278px) {
    font-size: 36px;

}
}



&__text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;



    @media screen and (min-width:1278px) {
        font-size: 36px;
        
    }
}






&__btn {
display: none;

fill: linear-gradient(268deg, #C0B7E8 -0.6%, #8176AF 98.31%);





@media screen and (min-width:1278px) {
display: inline-block;
    border-radius: 50%;
    width: 100px;
height: 100px;
background: linear-gradient(268deg, #C0B7E8 -0.6%, #8176AF 98.31%);

// background-color: transparent;
// background-color:  #C0B7E8;
position: absolute;
bottom: -35%;
transform: translateX(-50%);
border: 15px solid rgba(14, 14, 14, 0.9);
margin-bottom: 50px; 
}
}




&__list {
    display: flex;
    // gap: 72px;
    // justify-content: center;
 justify-content: space-between;
 align-items: center;
}



&__item:not(:last-child) {
    display: none;
   



    @media screen and (min-width:1278px) {
   display: block;

    
    }

}

        &__item :nth-child(1) {
 
            .tehnologi__img {
                width: 174px;
        height: 174px;
            }
        
        
        }
        
        &__item :nth-child(2) {
         
            .tehnologi__img {
                width: 252px;
                height: 252px;
            }
        
            
        }
        
        
        
        &__item :nth-child(3) {
         
            .tehnologi__img {
                width: 263px;
                height: 263px;
            }
        
            
        }
        
        
        &__item :nth-child(4) {
         
            .tehnologi__img {
                width: 282px;
                height: 282px;
            }
        
            
        }
    
   



}